{% extends 'posts/post_base.html' %}

{% block title %}
    Blog | Posts to delete
{% endblock %}


{% block post_content %}
    {% if post_list %}
         <div class="container">
            <h1>Which post do you want to delete?</h1>

         <div class="container">
            <div class="row">
            {%  for post in post_list  %}

                  <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="card">
                          <a href="{% url 'posts:delete' slug=post.slug %}" class="stretched-link"></a>
                          {% if post.header_image %}
                            <img class="card-img-top" src="{{ post.header_image.url }}" alt="Post Header Image">
                          {% endif %}

                          <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text"></p>
                          </div><!-- card content -->

                          <div class="card-footer">
                            <p class="card-text d-inline">
                              <small class="text-muted">{{ post.published_date|date:'Y-m-d' }}</small>
                            </p>
                            <i class="fas fa-arrow-right post_arrow_img d-inline"></i>
                          </div>
                      </div><!-- card -->
                  </div><!-- col-md-4 -->
            {%  endfor %}
            </div>
        </div><!-- container -->
    {% else %}
        <h1>There are no posts or drafts yet</h1>
    {% endif %}

{% endblock %}