{% extends 'posts/post_base.html' %}

{% block title %}
    Blog | Drafts
{% endblock %}


{% block post_content %}
    {% if draft_list %}
        <h1>Drafts</h1>

         <div class="container">
             <div class="row">
                {%  for draft in draft_list  %}
                      <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="card">
                              <a href="{% url 'posts:draft' slug=draft.slug %}" class="stretched-link"></a>
                              {% if draft.header_image %}
                                <img class="card-img-top" src="{{ draft.header_image.url }}" alt="Post Header Image">
                              {% endif %}

                              <div class="card-body">
                                <h5 class="card-title">{{ draft.title }}</h5>
                                <p class="card-text"></p>
                              </div><!-- card content -->

                              <div class="card-footer">
                                <p class="card-text d-inline">
                                  <small class="text-muted">
                                      Creation date:
                                      {{ draft.created_date|date:'Y-m-d' }}
                                  </small>
                                </p>
                                <i class="fas fa-arrow-right post_arrow_img d-inline"></i>
                              </div>
                          </div><!-- card -->
                      </div><!-- col-md-4 -->
                {%  endfor %}
             </div>
         </div><!-- container -->
    {% else %}
        <h1>There are no drafts yet</h1>
    {% endif %}
{% endblock %}